{% extends 'base.html'%} {% import 'macros.html' as macro%} {% block styles%} {{ super() }}

<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet"> {% endblock %} {% block content %}

  <div class="jumbotron">
    <h1 style="text-align:center;">PITCH APP</h1>
  </div>

<div class="container" style="background-color: powederblue">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 well" style="text-align:center;font-family: serif;">
        <a href="{{url_for('main.pick_up_line')}}">Pick_Up_Lines</a>
      </div>
      <div class="col-md-12 well" style="text-align:center;font-family:serif;">
        <a href="{{url_for('main.promotion')}}"> Promotion Pitches</a>
      </div>
      <div class="col-md-12 well" style="text-align:center;font-family: serif;">
        <a href="{{url_for('main.product')}}"> Product Pitches </a>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class"col-md-4 well" style="text-align:center;">
        <a href="{{url_for('main.new_pitch')}}"> Add a new pitch </a>
      </div>
    </div>





    <div class="all-pitches">
      <hr> {{macro.displayPitches(pitches)}}
      <br>
      <br>
    </div>

  </div>


  {% endblock %}
